%h1 Prihlásenie

= form_tag sessions_path, :builder => ListFormBuilder, :class => "inscription" do
  %ul
    %li.clearfix
      %label E-mail
      = text_field_tag "email"
    %li.clearfix
      %label Password
      = password_field_tag "password"
    %li.clearfix
      %label
      = submit_tag "Prihlásiť sa"
