%p Zadajte prosím Vašu emailovú schránku, ktorú používate pri prihlasovaní a my Vám na ňu zašleme nové heslo.
= form_tag reset_password_sessions_path do
  = label_tag :email, 'Email'
  = text_field_tag :email
  = submit_tag 'Odoslať heslo', id: 'reset_password_commit'