%p Zadajte prosím e-mailovú adresu, s ktorou sa prihlasujete do Vášho on-line formulára.
= form_tag reset_password_sessions_path do
  = label_tag :email, 'Email'
  = text_field_tag :email
  = submit_tag 'Odoslať heslo', id: 'reset_password_commit'
