.bundle
db/*.sqlite3
db/sphinx/*
log/*
tmp/**/*
config/*sphinx.conf
config/database.yml
config/newrelic.yml
config/environments/production.rb
public/uploads/*
tmp/*
backup/*
.DS_Store
.sass-cache/
data/dump/*
