<h1>O projekte</h1>

<p><strong>Politikaopen</strong> je priestorom, ktorý pred verejnosťou odkrýva dôležité aspekty života a činnosti politika. Zámerom je odhaliť všetko podstatné o jeho majetku, záväzkoch a väzbách do takej hĺbky, aby ste ako občania mohli na základe presných a pravdivých informácií politika účinne kontrolovať.</p>
<p>Účasť v projekte politikaopen je iba jedným z aspektov, ktoré by si ľudia mali pri politikoch/kandidátoch všímať. Nemenej dôležité je aj rešpektovanie ľudských práv a slobôd či dodržovanie zákonov.</p>
<p><strong>Politikaopen</strong> je jednoducho priestorom pre všetkých, ktorí chcú s občanmi hrať férovú a otvorenú hru.</p>
<p>Nie je v silách Aliancie Fair-play kontrolovať pravdivosť a úplnosť údajov uvedených politikmi. Projekt sa však snaží o to, aby boli profily politikov čo najviac viditeľné pre širokú verejnosť, a aby ste mohli napríklad sledovať, ako často politik svoj profil aktualizuje.</p>
<p>Preto ponechávame na vašom úsudku, ako politici napĺňajú princípy projektu politikaopen. Politikov z projektu vyradíme iba v prípade, že zistíme informácie (podložené dokumentmi, ktoré umožňujú urobiť jednoznačný záver, teda nie špekuláciami, či indíciami) o zamlčaní dôležitých údajov alebo o uvedení nepravdivých údajov a politik nebude vedieť zistenia vyvrátiť, či dostatočne vysvetliť.</p>

<p>
  <strong><%= link_to 'Pravidlá projektu politikaopen', page_path('rules') %></strong>
  <br /><br />
  <a href="/data/formular_vzor.pdf" target="_blank"><strong>Vzorový formulár</strong></a>
</p>

<p style="font-size:14px; font-weight:bold;">Tlačové správy:</p>

<p>
	23.11.2010 | <a href="/data/TS_politikaopen_volby_obce2010.pdf">Výzvu k otvorenosti pre voličov ignorovala väčšina hlavných kandidátov na primátorov a starostov</a>
	<br>3.11.2010 | <a href="/data/Volby_obce_2010_ts.rtf">Aliancia vyzvala kandidátov v komunálnych voľbách, aby zverejnili podrobné a kontrolovateľné informácie o svojom majetku a záujmoch</a>
	<br>31.5.2010 | <a href="/data/Hon_na_politikov_ts.rtf">Vyhlásili sme „Hon na politikov"</a>
	<br>8.6.2010 | <a href="/data/volby_nrsr_ts.rtf">161 kandidátov prijalo výzvu k nadštandardnej otvorenosti</a>
</p>


<div style="margin:20px 0px 0px 0px;">
  <%= link_to image_tag('banners/banner_registracia.png', border: '0', alt: 'Registrácia'), new_user_path %>
</div>