<h1>Všetko čo ste chceli vedieť o majetku a etike politikov</h1>
<h2>Videozáznamy z diskusií v "horúcom kresle"</h2>
<div id="video_diskusia">
  <a href="http://www.metoo.sk/alianciafairplay?relacia=bela-bugar" target="_blank" class="button_video"><img src="../assets/video_bugar.png" width="320" height="176" border="0" /><br>Béla Bugár (MOST-HÍD)</a>
  <a href="http://www.metoo.sk/alianciafairplay?relacia=igor-matovic" target="_blank" class="button_video"><img src="../assets/video_matovic.png" width="320" height="176" border="0" /><br>Igor Matovič (OĽaNO)</a>
  <a href="http://www.metoo.sk/alianciafairplay?relacia=jan-richter" target="_blank" class="button_video_last"><img src="../assets/video_richter.png" width="320" height="176" border="0" /><br>Ján Richter (SMER-SD)</a>
  <a href="http://www.metoo.sk/alianciafairplay?relacia=richard-sulik" target="_blank" class="button_video"><img src="../assets/video_sulik.png" width="320" height="176" border="0" /><br>Richard Sulík (SaS)</a>
  <a href="http://www.metoo.sk/alianciafairplay?relacia=lucia-zitnanska" target="_blank" class="button_video"><img src="../assets/video_zitnanska.png" width="320" height="176" border="0" /><br>Lucia Žitňanská (SDKÚ-DS)</a>
<p class="diskusia_poznamka">* Politická strana 99 % - občiansky hlas neposlala do diskusie žiadneho kandidáta. KDH nám napriek prísľubu v predvečer konania diskusie oznámilo, že sa im nepodarilo nikoho zabezpečiť.</p>
</div>

<h2>Dotazníky o konflikte záujmov</h2>
<p style="font-size:14px;">Opýtali sme sa prvých piatich kandidátov politických strán, či by v modelových situáciách uprednostnili verejný alebo osobný záujem a podporili zmeny smerom k väčšej otvorenosti politiky.</p>

<div id="container_party">
  <ul>
    <li class="header">KDH</li>
    <li><a href="/data/dotazniky/KDH_Figel.pdf" target="_blank">Ján Figeľ</a></li>
    <li>Pavol Hrušovský (neodpovedal)</li>
    <li><a href="/data/dotazniky/KDH_Lipsic.pdf" target="_blank">Daniel Lipšic</a></li>
    <li>Július Brocka (neodpovedal)</li>
    <li>Ivan Uhliarik (neodpovedal)</li>
  </ul>
  <ul>
    <li class="header">MOST-HÍD</li>
    <li>Béla Bugár (prijal pozvanie na diskusiu)</li>
    <li>Zsolt Simon (neodpovedal)</li>
    <li><a href="/data/dotazniky/MOST_Solymos.pdf" target="_blank">László Sólymos</a></li>
    <li><a href="/data/dotazniky/MOST_Chmel.pdf" target="_blank">Rudolf Chmel</a></li>
    <li>Gábor Gál (neodpovedal)</li>
  </ul>
  <ul>
    <li class="header">OĽaNO</li>
    <li>Eva Horváthová (neodpovedal)</li>
    <li><a href="/data/dotazniky/OL_Kaduc.pdf" target="_blank">Miroslav Kadúc</a></li>
    <li>Mikuláš Huba (neodpovedal)</li>
    <li><a href="/data/dotazniky/OL_Mezenska.pdf" target="_blank">Helena Mezenská</a></li>
    <li>Igor Matovič (prijal pozvanie na diskusiu)</li>
  </ul>
  <ul>
    <li class="header">SaS</li>
    <li>Richard Sulík (prijal pozvanie na diskusiu)</li>
    <li><a href="/data/dotazniky/SaS_Krajcer.pdf" target="_blank">Daniel Krajcer</a></li>
    <li><a href="/data/dotazniky/SaS_Miskov.pdf" target="_blank">Juraj Miškov</a></li>
    <li><a href="/data/dotazniky/SaS_Galko.pdf" target="_blank">Ľubomír Galko</a></li>
    <li><a href="/data/dotazniky/SaS_Mihal.pdf" target="_blank">Jozef Mihál</a></li>
  </ul>
  <ul>
    <li class="header">SDKÚ-DS</li>
    <li><a href="/data/dotazniky/SDKU_Dzurinda.pdf" target="_blank">Mikuláš Dzurinda</a></li>
    <li><a href="/data/dotazniky/SDKU_Miklos.pdf" target="_blank">Ivan Mikloš</a></li>
    <li>Lucia Žitňanská (prijala pozvanie na diskusiu)</li>
    <li><a href="/data/dotazniky/SDKU_Mikus.pdf" target="_blank">Jozef Mikuš</a></li>
    <li>Milan Hort (neodpovedal)</li>
  </ul>
  <ul>
    <li class="header">SMER-SD</li>
    <li>Róbert Fico (neodpovedal)</li>
    <li>Pavol Paška (neodpovedal)</li>
    <li>Róbert Kaliňák (neodpovedal)</li>
    <li>Marek Maďarič (neodpovedal)</li>
    <li><a href="/data/dotazniky/SMER_Caplovic.pdf" target="_blank">Dušan Čaplovič</a></li>
  </ul>
  <ul>
    <li class="header">99percent</li>
    <li>Alena Dušatková (neodpovedala)</li>
    <li>Pavol Pavlík (neodpovedal)</li>
    <li>Peter Vačok (neodpovedal)</li>
    <li>Ivan Weiss (neodpovedal)</li>
    <li>Mário Radačovský (neodpovedal)</li>
  </ul>
</div>
<p class="diskusia_poznamka">* Oslovili sme politické strany, ktoré podľa prieskumom verejnej mienky prekročili hranicu zvoliteľnosti; v prípade politickej strany OBYČAJNÍ ĽUDIA a nezávislé osobnosti sme oslovili prvých štyroch kandidátov a Igora Matoviča ako lídra strany.</p>