<div style="display:block; width:600px; float:left; ocerflow:hidden; margin:0px 40px 0px 0px;">
	<h1>AFP a Veľvyslanectvo USA pripravujú spoločnú akciu</h1>

	<p>Event, ktorý v parlamente organizuje Veľvyslanectvo USA spolu s Alianciou Fair-play, má za cieľ podporiť snahy o väčšiu otvorenosť politikov voči občanom a porovnať existujúci slovenský štandard s tým americkým.</p>

	<p>Špeciálnym hosťom eventu bude americký veľvyslanec pre Českú republiku Norman L. Eisen. Ten pôsobil ako hlavný poradca prezidenta Obamu pre oblasť etiky a presadil v USA reformu týkajúcu sa práve zverejňovania informácií politikmi. Na evente odprezentuje aj veľké prekvapenie.</p>

	<p>Aliancia Fair-play ukáže projekt <%= link_to 'politikaopen', root_url, target: '_blank' %>, ktorý je snahou aspoň neformálne zvýšiť štandard majetkových priznaní. Do projektu sa zapojili predsedníčka vlády, predseda parlamentu, ministri, poslanci a primátori. Projekt poskytuje, na rozdiel od zákonom vyžadovaných nič nehovoriacich informácií, veľmi konkrétne údaje. Verejní funkcionári a kandidáti vo voľbách sa doň môžu zapojiť dobrovoľne. </p>

	<p>Pre zaujímavosť si pozrite, aké informácie musia zverejňovať politici na stránke <a href="http://www.nrsr.sk/?SectionId=136" target="_blank">parlamentu</a>, a aké v projekte <%= link_to 'politikaopen', root_url, target: '_blank' %>.</p>
	<p>Event by mal vyústiť do záväzkov prítomných politikov na dobrovoľné sa zapojenie do projektu alebo zlepšenie legislatívy, či požiadaviek.</p>
</div>

<div style="display:block; width:250px; float:right; ocerflow:hidden; margin:10px 0px 0px 0px; padding:30px 30px; background:#eeeeee; color:#666666;">
<span style="text-transform:uppercase; font-size:14px;">Praktické informácie:</span>

	<ul style="margin:15px 0px 0px 17px; padding:0px;">
		<li style="margin:0px 0px 10px 0px;">nápady na názov eventu (najlepšie v slovenskej aj anglickej mutácii) píšte rovno na nástenku do piatka 6.5.2011, prípadne na <script language="JavaScript">
		document.write('<a hre'+'f="ma'+'ilto'+':'+'%66%65%72%6f%40%66%61%69%72%2d%70%6c%61%79%2e%73%6b">&#102;&#101;&#114;&#111;&#40;&#97;&#116;&#41;&#102;&#97;&#105;&#114;&#45;&#112;&#108;&#97;&#121;&#46;&#115;&#107;<\/a>');
		</script></li>
		<li style="margin:0px 0px 10px 0px;">víťazov budeme kontaktovať cez správu na facebooku alebo e-mailom.</li>
		<li style="margin:0px 0px 10px 0px;">dobré nápady určite odmeníme.</li>
		<li style="margin:0px 0px 10px 0px;">organizátori si vyhradzujú právo víťazné nápady nepoužiť.</li>
	</ul>
</div>