<h1>FAQ | Často kladené otázky</h1>


<ol>
	
	<li>
		<p><strong>Zabudol som heslo.</strong><br>
		Kontaktujte prosím administrátora na e-mailovej adrese register@politikaopen.sk alebo na telefónnom čísle 0944/215048.</p>
	</li>

	<li>
		<p><strong>Nemôžem sa prihlásiť.</strong><br>
		Overte si, či zadávate správny e-mail a heslo. Uistite sa, či nemáte omylom zapnutý CapsLock (písanie veľkých písmen). Ak heslo obsahuje veľké aj malé písmená, dbajte na ich správne písanie. Ak problémy pretrvávajú, obráťte sa na administrátora na e-mailovej adrese register@politikaopen.sk alebo na telefónnom čísle 0944/215048.</p>
	</li>
	
	<li>
		<p><strong>Môžem vypĺňať formulár aj v prípade, že moje konto ešte nebolo aktivované?</strong><br>
		Áno. Aktivácia konta je nevyhnutnou podmienkou na zverejnenie Vášho on-line formulára na internetovej stránke projektu. Vypĺňať je ho však možné aj bez aktivácie.</p>
	</li>
	
	<li>
		<p><strong>Vyplnil som formulár, ale moje meno sa stále nezobrazuje v zozname otvorených politikov.</strong><br>
		Ubezpečte sa, že pri žiadnej z položiek formulára nesvieti červené číslo. Ak číslo pri niektorej z položiek svieti, nemáte vyplnené všetky položky tejto časti formulára.</p>
	</li>
	
	<li>
		<p><strong>Vyplnil som formulár (pri žiadnej položke nesvieti červené číslo), ale moje meno sa stále nezobrazuje v zozname otvorených politikov.</strong><br>
		Váš konto zatiaľ nebolo aktivované. Na aktivovanie konta je potrebné vytlačiť súhlas so spracovaním osobných údajov, vlastnoručne ho podpísať a poslať na adresu Aliancie Fair-play (link na adresu) ste súhlas poslali, administrátor pravdepodobne overuje vašu totožnosť a v krátkom čase bude Vaše konto aktivované.</p>
	</li>

	<li>
		<p><strong>Stačí, ak súhlas so spracovaním osobných údajov pošlem e-mailom aj s naskenovaným vlastnoručným podpisom?</strong><br>
		Nie, môžeme akceptovať iba vytlačený a vlastnoručne podpísaný súhlas so spracovaním osobných údajov, ktorý bude doručený na adresu Aliancie Fair-play.</p>
	</li>

	<li>
		<p><strong>Môžem súhlas so spracovaním osobných údajov doručiť aj osobne?</strong><br>
		Áno, v pracovných dňoch medzi 10.00 a 18.00. Je však lepšie dohodnúť sa vopred telefonicky.</p>
	</li>
	
	<li>
		<p><strong>Je možné súhlas so spracovaním osobných údajov podpísať tzv. elektronickým podpisom?</strong><br>
		Nie</p>
	</li>
	
	<li>
		<p><strong>Musím vypĺňať všetky položky on-line formulára?</strong><br>
		Nie. Potrebné je vyplniť iba povinné položky, ktoré sú vyznačené hrubým písmom a hviezdičkou.</p>
	</li>
	<li>
		<p><strong>Je potrebné vyplniť formulár naraz, resp. na jedenkrát?</strong><br>
		Nie. Pokojne môžete uložiť len niektoré jeho časti a opätovne sa k vypĺňaniu vrátiť prihlásením do formulára neskôr (aj o pár dní, či týždňov).</p>  
	</li>

	<li>
		<p>Musím vypĺňať aj tie časti formulára, ktoré sa ma netýkajú?
		Áno. Je potrebné prejsť cez všetky časti formulára – aj keď sa Vás netýkajú a potvrdiť to (napríklad, že nemáte obchodné podiely vo firmách).</p>
	</li>
	
	<li>
	<p><strong>Omylom som vyplnil jednu položku viackrát. Ako môžem duplicitnú položku vymazať?</strong><br>
	Duplicitne vyplnené položky môže zmazať iba administrátor. Kontaktujte administrátora na e-mailovej adrese register@politikaopen.sk alebo na telefónnom čísle 0944/215048 a popíšte, v ktorej časti formulára ste uviedli duplicitné informácie.</p>
	</li>
	
	<li>
		<p><strong>Ak sa rozhodnem, že nechcem byť do projektu ďalej zapojený, môžem z neho kedykoľvek vystúpiť?</strong><br>
		Áno. Stačí, ak nás o tom informujete.</p>
	</li>

	<li>
		<p><strong>Ako dlho sa uchovávajú informácie uvedené v mojom on-line formulári?</strong><br>
		Doba uchovávania Vašich osobných údajov sa líši podľa toho, či ste v čase podpisu zastávali verejnú funkciu, prípadne boli následne zvolený/menovaný do verejnej funkcie. Ak áno, súhlas trvá 12 rokov odo dňa udelenia súhlasu. Ak nie, súhlas je možné odvolať po uplynutí 90 dní odo dňa konania volieb/výberového konania, ak ani 90 dní po voľbách/výberovom konaní nezastávate verejnú funkciu.</p>
	</li>
	
	<li>
		<p><strong>Stačí, ak odvolanie súhlasu so spracovaním osobných údajov pošlem e-mailom?</strong><br>
		Nie, odvolanie súhlasu so spracovaním osobných údajov je potrebné vytlačiť, vlastnoručne podpísať a poslať poštou na adresu Aliancie Fair-play.</p>
	</li>
	
	<li>
		<p><strong>Môžem odvolanie súhlasu so spracovaním osobných údajov poslať aj skôr ako 90 dní od konania volieb/výberového konania?</strong><br>
		Nie, môžeme akceptovať iba súhlasy, ktoré nám budú doručené po uplynutí 90 dňovej lehoty. Dátum na odvolaní taktiaž nemôže byť skorší ako 90 dní od konania volieb/výberového konania.</p>
	</li>
	
	<li>
		<p><strong>Kde si môžem zmeniť prihlasovacie meno, heslo a telefónne číslo?</strong><br>
		Tieto základné údaje je možné zmeniť po prihlásení do Vášho on-lina formulára a kliknutí na položku Nastavenia. Majte na pamäti, že ak zmeníte e-mail, je potrebné sa cez tento nový e-mail prihlasovať aj Vášho on-lina formulára.</p>
	</li>
	
	<li>
		<p><strong>Je registrácia v projekte politikaopen spoplatnená?</strong><br>
		Nie, služba je úplne bezplatná</p>
	</li>

</ol>
