<style>
  #homepage-wrap {
    font-family:'Open Sans', sans-serif;
    display:block;
    float:none;
    overflow:hidden;
    width:1000px;
    margin:0px auto;
    color:#2b2b2b;
  }
  #registration {
    display:block;
    float:none;
    overflow:hidden;
    background:#5ce1f7 url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/postavicky_registrovat.png) no-repeat bottom right;
    height:500px;
  }
  #registration .text-area-wrap {
    display:block;
    float:none;
    overflow:hidden;
    margin:65px 0 0 80px;
    padding:0px;
  }
  #registration h1 {
    font-size:36px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:44px;
    display:block;
    margin:0;
    padding:0;
  }
  #registration h2 {
    font-size:20px;
    font-weight:bold;
    line-height:25px;
    display:block;
    margin:15px 0 0 0;
    padding:0;
    width:330px;
  }
  #registration a.registration-button {
    font-size:28px;
    font-weight:400;
    letter-spacing:1px;
    /* line-height:36px; */
    display:inline-block;
    float:none;
    overflow:hidden;
    background:#e74c3c;
    color:#ffffff;
    text-decoration:none;
    padding:12px 23px;
    margin:40px 0 0 0;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    /* -webkit-transition-delay: 0.1s; */
  }
  #registration a.registration-button:hover {
    background:#d33f37;
  }
  #open-politicians {
    display:block;
    float:none;
    overflow:hidden;
    background:#ffcc4d;
    margin:20px 0 0 0;
    padding:65px 80px 40px 80px;
  }
  #open-politicians h1 {
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:36px;
    display:block;
    margin:0;
    padding:0;
  }
  #container-candidates {
    display:block;
    float:none;
    overflow:hidden;
    margin:30px 0;
  }
  #container-candidates a {
    display:block;
    float:left;
    overflow:hidden;
    width:210px;
    height:40px;
    font-size:16px;
    font-weight:700;
    padding:185px 0 40px 0;
    text-align:center;
    color:#2b2b2b;
    text-decoration:none;
  }
  #container-candidates a.kandidat {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/kandidat.png) no-repeat center 15px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #container-candidates a.kandidat:hover {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/kandidat.png) no-repeat center 0px;
  }
  #container-candidates .description {
    display:block;
    font-size:12px;
    font-weight:400;
  }
  #container-politicians {
    display:block;
    float:none;
    overflow:hidden;
    margin:30px 0;
  }
  #container-politicians a {
    display:block;
    float:left;
    overflow:hidden;
    width:168px;
    height:40px;
    font-size:14px;
    font-weight:700;
    padding:150px 0 15px 0;
    text-align:center;
    color:#2b2b2b;
    text-decoration:none;
  }
  #container-politicians a.politik {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/politik.png) no-repeat center 15px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #container-politicians a.politik:hover {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/politik.png) no-repeat center 0px;
  }
  #container-politicians .description {
    display:block;
    font-size:10px;
    font-weight:400;
  }
  #container-politicians a.politicka {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/politicka.png) no-repeat center 15px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #container-politicians a.politicka:hover {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/politicka.png) no-repeat center 0px;
  }
  #container-politicians a.poslanec-nrsr {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslanec_nrsr.png) no-repeat center 15px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #container-politicians a.poslanec-nrsr:hover {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslanec_nrsr.png) no-repeat center 0px;
  }
  #container-politicians a.poslankyna-nrsr {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslankyna_nrsr.png) no-repeat center 15px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #container-politicians a.poslankyna-nrsr:hover {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslankyna_nrsr.png) no-repeat center 0px;
  }
  #container-politicians a.poslanec-eu {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslanec_eu.png) no-repeat center 15px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #container-politicians a.poslanec-eu:hover {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslanec_eu.png) no-repeat center 0px;
  }
  #container-politicians a.poslankyna-eu {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslankyna_eu.png) no-repeat center 15px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #container-politicians a.poslankyna-eu:hover {
    background:url(http://storage.fair-play.sk/politikaopen/2014_obecne_volby/poslankyna_eu.png) no-repeat center 0px;
  }
</style>
<div id="homepage-wrap">
  <div id="registration">
    <div class="text-area-wrap">
      <h1>Kandidujete<br>na primátora,<br>starostu alebo<br>poslanca obce?</h1>
      <h2>Hrajte s občanmi otvorenú hru <br>a zverejnite informácie o svojom majetku, záväzkoch a väzbách.</h2>
      <a class="registration-button" href="/users/new">Registrovať</a>
    </div>
  </div>
  <div id="open-politicians">
    <h1>Kandidáti na primátorov krajských miest 2014</h1>
    <div id="container-candidates">
      <a href="http://www.politikaopen.sk/frontend/users/511" class="kandidat">
        Milan Ftáčnik
        <span class="description">Kandiduje v Bratislave<br>(Primátor Bratislavy)</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/831" class="kandidat">
        Milan Kňažko
        <span class="description">Kandiduje v Bratislave</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/96" class="kandidat">
        Pavol Bielik
        <span class="description">Kandiduje v Banskej Bystrici</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/844" class="kandidat">
        Viliam Mokráň
        <span class="description">Kandiduje v Nitre</span>
      </a>
    </div>
    <h1>Otvorení politici</h1>
    <div id="container-politicians">
      <a href="http://www.politikaopen.sk/frontend/users/824" class="politik">
        Andrej Kiska
        <span class="description">Prezident Slovenskej republiky</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/297" class="politicka">
        Jana Dubovcová
        <span class="description">Ombudsmanka</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/255" class="poslanec-eu">
        Richard Sulík
        <span class="description">Poslanec Európskeho<br> parlamentu</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/288" class="poslanec-eu">
        Ivan Štefanec
        <span class="description">Poslanec Európskeho<br> parlamentu</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/293" class="poslankyna-eu">
        Jana Žitňanská
        <span class="description">Poslankyňa Európskeho parlamentu</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/281" class="poslanec-nrsr">
        Miroslav Beblavý
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/781" class="poslanec-nrsr">
        Béla Bugár
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/767" class="poslanec-nrsr">
        Martin Fecko
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/717" class="poslanec-nrsr">
        Ľubomír Galko
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/830" class="poslanec-nrsr">
        Pavol Hrušovský
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/768" class="poslankyna-nrsr">
        Erika Jurinová
        <span class="description">Poslankyňa NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/770" class="poslanec-nrsr">
        Jozef Kollár
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/748" class="poslanec-nrsr">
        Daniel Krajcer
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/728" class="poslanec-nrsr">
        Daniel Lipšic
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/769" class="poslanec-nrsr">
        Igor Matovič
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/719" class="poslanec-nrsr">
        Jozef Mihál
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/64" class="poslanec-nrsr">
        Jozef Mikuš
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/292" class="poslanec-nrsr">
        Juraj Miškov
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/707" class="poslankyna-nrsr">
        Lucia Nicholsonová
        <span class="description">Poslankyňa NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/680" class="poslanec-nrsr">
        Peter Osuský
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/697" class="poslanec-nrsr">
        Martin Poliačik
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/304" class="poslanec-nrsr">
        Ivan Švejna
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/547" class="poslankyna-nrsr">
        Magdaléna Vášáryová
        <span class="description">Poslankyňa NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/766" class="poslanec-nrsr">
        Jozef Viskupič
        <span class="description">Poslanec NR SR</span>
      </a>
      <a href="http://www.politikaopen.sk/frontend/users/284" class="poslankyna-nrsr">
        Lucia Žitňanská
        <span class="description">Poslankyňa NR SR</span>
      </a>
    </div>
  </div>
</div>