<p>U týchto účastníkov sme pri kontrole zistili, že v dôsledku technických problémov vo februári 2012 (3.2. – 19.2.2012) sa niektoré časti ich on-line formulára nemusia zobrazovať správne. Upozornili sme ich na problémové časti a v súčasnosti čakáme na verifikáciu ich formulára. Ak by ste chceli so zverejnenými informáciami ďalej pracovať, overte si ich prosím u samotných politikov / kandidátov.</p>

<p>U ostatných účastníkov projektu nemáme vedomosť, že by u nich mohlo dôjsť k nesprávnemu zobrazovaniu. Napriek tomu sme aj ich upozornili, aby si svoje formuláre skontrolovali a zaktualizovali.</p>



<iframe width='500' height='1200' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AjD35X0HsMNwdGdOY1B0dng2QnpvRFZxSnFRTUxONGc&single=true&gid=0&range=A1%3AB68&output=html&widget=false'></iframe>
