<div id="rules">
	<div style="color:#000000;">
		<h1>Návod:</h1>

		<ol style="font-weight:bold; font-size:14px;">
			<li><span style="font-weight:normal;"><%= link_to 'Prihláste', new_session_path, target: '_blank' %> sa do Vášho on-line formulára</span></li>
			<li><span style="font-weight:normal;">V prípade, že zastávate Verejnú funkciu a úplne dole máte zaškrtnutú iba možnosť Kandidát, zvoľte aj možnosť Politik (možnosť Kandidát nechajte rovnako zaškrtnutú)</span></li>
			<li><span style="font-weight:normal;">Prejdite cez jednotlivé položky formulára a zaktualizujte/doplňte nové údaje</span></li>
		</ol>
		<p>&nbsp;</p>
		<div style="background:#dddddd; color:#000000; padding:10px 20px;">
			<h3>Dôležité upozornenie:</h3>

			<p style="font-weight:bold;">Neprepisujte prosím staré položky, ale vytvárajte nové záznamy!</p>
			<p>Ak ste napr. položku <em>Súhrn príjmov za kalendárny</em> rok vyplnili v minulosti k roku 2009, neprepisujte rok na 2010 a neudávajte aktuálnu výšku príjmu, ale vytvorte nový záznam, kde tieto informácie uvediete.</p>
			<p>V niektorých neaktuálnych položkách je potrebné uviesť  dátum, ku ktorému boli funkcie/činnosti/aktivity ukončené (<em>Funkčné obdobie do</em>) – napr. v prípade <em>Verejnej funkcie, Obchodných podieloch, Majetkových záväzkoch</em> a pod.</p>
			<p>Cieľom projektu nie je prinášať iba aktuálne údaje, ale aj staršie informácie, ktoré dokresľujú zmeny v čase (napr. zastávané verejné funkcie).</p>
		</div>
		
		<p>&nbsp;</p>
		<h3>Položky</h3>
		<ol type="a">
			<li><em>Súhrn príjmov za kalendárny rok,
</em></li>
			<li><em>Súhrnná hodnota hotovosti, účtov, cenných papierov,</em></li>
			<li><em>Súhrn hnuteľného majetku</em></li>
		</ol>
		
		<p style="font-weight:bold;">je potrebné uvádzať k ostatnému ukončenému kalendárnemu roku (čiže k roku 2010).</p>
		<p>&nbsp;</p>
		<ul>
			<li>Ak ste poslancom NR SR a prenajímate si poslaneckú kanceláriu, nezabudnite túto skutočnosť doplniť do časti Poslanecká kancelária.</li>
			<li>Ak ste vypĺňali informácie o výdavkoch na kampaň ešte počas jej trvania, zaktualizujte prosím aj položku Financovanie kampane.</li>
			<li>Na vašu propagáciu slúžia viaceré položky v časti Základné údaje – môžete doplniť svoju fotografiu; e-mail; meno, pod akým je vás možné nájsť na sociálnych sieťach alebo iba napísať niečo o sebe.</li>
		</ul>
	</div>
</div>