<!-- NOTICE -->
<script type="text/javascript">
$(document).ready(function(){


	$(window).scroll(function(){
		if  ($(window).scrollTop() > $("#smartBannerIdentifier").offset({ scroll: false }).top){
		   $("#obama_notice").css("position", "fixed");
		   $("#obama_notice").css("top", "0");
		}
		
		if  ($(window).scrollTop() <= $("#smartBannerIdentifier").offset({ scroll: false }).top){
		   $("#obama_notice").css("position", "relative");
		   $("#obama_notice").css("top", $("#smartBannerIdentifier").offset);
		}
	}); 


});
</script>

<div id="smartBannerIdentifier"></div>
<div id="obama_notice">Čestný hosť v politikaopen</div>


<!-- NAVIGATION -->
<div id="obama_navigation">
	<ul>
		<li><a href="#zakladne_udaje">Základné údaje</a></li>
		<li><a href="#strana">Stranícka príslušnosť</a></li>
		<li><a href="#funkcia">Verejná funkcia</a></li>
		<li><a href="#firmy">Obchodné podiely vo firmách</a></li>
		<li><a href="#zamestnanie">Zamestnanecké pozície</a></li>
		<li><a href="#aktivity">Honorované a nehonorované aktivity</a></li>
		<li><a href="#vyhody_z_funkcie">Výhody z funkcie ...</a></li>
		<li><a href="#dary">Sponzorstvo, dary a granty</a></li>
		<li><a href="#pracovne_cesty">Pracovné cesty, podujatia ...</a></li>
		<li><a href="#suhrn_prijmov">Súhrn príjmov za kalendárny rok</a></li>
		<li><a href="#nehnutelny_majetok">Nehnuteľný majetok</a></li>
		<li><a href="#hnutelny_majetok">Hnuteľný majetok</a></li>
		<li><a href="#majetkove_prava">Majetkové práva, záväzky, hodnoty</a></li>
		<li><a href="#kancelarie">Poslanecká kancelária</a></li>
		<li><a href="#stretnutia">Dôležité stretnutia</a></li>
		<li><a href="#osoby">Blízke osoby</a></li>
		<li><a href="#spolupracovnici">Blízki spolupracovníci</a></li>
		<li><a href="#rozne">Rôzne</a></li>
	</ul>
</div>

<!-- OBAMA PROFILE -->
<div id="obama_profile">
	<div class="obama_head">
		Barack Hussein Obama
	</div>
	<div class="obama_photo">
	  <%= image_tag 'obama_200x200.png', width: '200', heigh: '200', border: '0', alt: 'Barack Obama' %>
	</div>
	<h2 id="#zakladne_udaje">Základné údaje</h2>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td class="item">Titul</td>
				<td> </td>
			</tr>
			<tr>
				<td class="item">Meno</td>
				<td>Barack Hussein</td>
			</tr>
			<tr>
				<td class="item">Priezvisko</td>
				<td>Obama</td>
            </tr>
            <tr>
              <td class="item">
                Titul za menom
                </td><td></td>
            </tr>
            <tr>
              <td class="item">
                Rodné priezvisko
                </td><td>Obama</td>
            </tr>
            <tr>
              <td class="item">
                Dátum narodenia
                </td><td>04. 08. 1961</td>
            </tr>
            <tr>
              <td class="item">
                Adresa (Kraj)
                </td><td>USA</td>
            </tr>
            <tr>
              <td class="item">
                Adresa (Okres)
                </td><td>Washington D.C.</td>
            </tr>
            <tr>
              <td class="item">
                Adresa (Obec)
                </td><td>Washington D.C.</td>
            </tr>
            <tr>
              <td class="item">
                Adresa (Ulica a číslo)
                </td><td>1600 Pennsylvania Ave. NW</td>
            </tr>
            <tr>
              <td class="item">
                PSČ
                </td><td>20500</td>
            </tr>
            <tr>
              <td class="item">
                Telefónne číslo
                </td><td></td>
            </tr>
            <tr>
              <td class="item">
                E-mail
                </td><td></td>
            </tr>
            <tr>
              <td class="item">
                Web stránka
                </td><td>
                  <a href="http://www.barackobama.com/">www.barackobama.com</a></td>
            </tr>
            <tr>
              <td class="item">
                Blog
                </td><td>
                  <a href="http:"></a></td>
            </tr>
            <tr>
              <td class="item">
                IM
                </td><td></td>
            </tr>
            <tr>
              <td class="item">
                Sociálne siete
                
			  </td>
			  <td>
				<a href="http://www.facebook.com/barackobama" target="_blank">
				  <%= image_tag 'button_fb_30x30.png' %>
				</a>
				<a href="http://twitter.com/#!/BARACKOBAMA" target="_blank">
				  <%= image_tag 'button_twtr_30x30.png' %>
				</a>
			  </td>
            </tr>
            <tr>
              <td class="item" style="">
                Niečo o mne
                </td><td>
					<ul>
					<li>Som 44. prezidentom Spojených štátov amerických.</li>
                	<li>Som prvý afro-americký prezident na čele tejto krajiny.</li>
                	<li>Prvý deň vo funkcii som podpísal štyri iniciatívy zamerané na zvýšenie občianskej participácie a otvorenosti vlády voči ľuďom. Viac o týchto iniciatívach sa dozviete na <a href="http://www.whitehouse.gov/goodgovernment/actions/first-principles" target="_blank">stránkach Bieleho domu</a>.</li>
</ul>
	 </td>
            </tr>
            <tr>
              <td class="item">
                Poznámka
                </td>
				<td>
					<ul>
					<li><a href="http://www.whitehouse.gov/sites/default/files/rss_viewer/potus-278-2009.pdf" target="_blank">Majetkové priznanie za rok 2009</a></li>
					<li><a href="http://www.whitehouse.gov/sites/default/files/rss_viewer/POTUS_OGE278_CY2010.pdf" target="_blank">Majetkové priznanie za rok 2010</a> </li>
					<li><a href="http://www.whitehouse.gov/sites/default/files/president-obama-2010-complete-return.pdf" target="_blank">Daňové priznanie za rok 2009</a> </li>
					<li><a href="http://www.whitehouse.gov/sites/default/files/rss_viewer/POTUS_taxes.pdf" target="_blank">Daňové priznanie za rok 2010</a></li>
					<li>Údaje v tomto formulári vychádzajú z priznania za rok 2009</li>
					</ul>
			</td>
            </tr>
          </tbody>
        </table>
		<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>


<h2 id="strana">Stranícka príslušnosť</h2>
    
    <table class="box">
      <tbody>
        <tr>
          <td class="item">Strana (hnutie)</td><td><a href="http://en.wikipedia.org/wiki/Democratic_Party_(United_States)" target="_blank">Demokratická strana / Democratic Party</a></td>
        </tr>
        <tr>
          <td class="item">Funkcia v strane</td><td>Člen</td>
        </tr>
        <tr>
          <td class="item">Funkčné obdobie od</td><td>1996</td>
        </tr>
        <tr>
          <td class="item">Funkčné obdobie do</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td>Rok, kedy prvýkrát kandidoval a bol zvolený za Demokratickú stranu - do senátu štátu Illinois.</td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>
	
	<h2 id="funkcia">Verejná funkcia</h2>

    <table class="box">
      <tbody>
        <tr>
          <td class="item">Verejná funkcia</td><td>prezident</td>
        </tr>
        <tr>
          <td class="item">Funkčné obdobie od</td><td>1/2009</td>
        </tr>
        <tr>
          <td class="item">Funkčné obdobie do</td><td>1/2013</td>
        </tr>
        <tr>
          <td class="item">Kandidoval za stranu (hnutie, koalíciu) / bol nominovaný za stranu (hnutie, koalíciu)</td><td><a href="http://en.wikipedia.org/wiki/Democratic_Party_(United_States)" target="_blank">Demokratická strana / Democratic Party</a></td>
        </tr>
        <tr>
          <td class="item">Člen poslaneckého klubu</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
	
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="firmy">Obchodné podiely vo firmách / SZČO</h2>
    <table>
      <tbody>
        <tr>
          <td class="item">
            Nevlastním obchodné podiely vo firmách / nemám živnosť
            </td><td>
              <%= image_tag 'check_12x10.png', alt: 'Check_12x10'%></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="zamestnanie">Zamestnanecké pozície</h2>
    <table>
      <tbody>
        <tr>
          <td class="item">
            Nemám zamestnanie
            </td><td>
              <%= image_tag 'check_12x10.png', alt: 'Check_12x10'%></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>
	
	<h2 id="aktivity">Honorované a nehonorované aktivity</h2>
    <table>
      <tbody>
        <tr>
          <td class="item">
            Nevykonávam honorovanú alebo nehonorovanú aktivitu
            </td><td>
              <%= image_tag 'check_12x10.png', alt: 'Check_12x10'%></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="vyhody_z_funkcie">Výhody z funkcie, zamestnania, aktivity</h2>

    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o poskytovateľovi</td>
        </tr>
        <tr>
          <td class="item">Názov/Meno</td><td>Vláda USA</td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td>verejný</td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td></td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa poskytovateľa</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td>Spojené štáty</td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td>USA</td>
        </tr>
        <tr>
          <td class="item">Okres</td><td>Washington D.C.</td>
        </tr>
        <tr>
          <td class="item">Obec</td><td>Washington D.C.</td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td>Capitol Hill</td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td>Capitol Hill</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Charakter výhody</td>
        </tr>
        <tr>
          <td class="item">Popis výhody</td><td>
			<ul>
				<li>Ročný plat - 400 tisíc dolár</li>
				<li>Výdavky spojené s výkonom funkcie - 50 tisíc dolárov</li>
				<li>Reprezentačný fond - 19 tisíc dolárov</li>
				<li><a href="http://en.wikipedia.org/wiki/Air_Force_One" target="_blank">lietadlo Air Force One</a></li>
				<li><a href="http://en.wikipedia.org/wiki/Marine_One" target="_blank">helikoptéra Marine One</a></li>
				<li>limuzína</li>
				<li><a href="http://en.wikipedia.org/wiki/White_House" target="_blank">Biely dom</a></li>
				<li><a href="http://en.wikipedia.org/wiki/Camp_David" target="_blank">Camp David</a> (víkendové/dovolenkové sídlo)</li>
				<li><a href="http://en.wikipedia.org/wiki/Blair_House" target="_blank">Blair House</a> (oficiálny hosťovský dom pre návštevy)</li>
			</ul>
		</td>
        </tr>
        <tr>
          <td class="item">Vyjadrenie hodnoty výhody</td><td>nie je možné určiť</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td>20. 01. 2009</td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámka</td><td>Oficiálne benefity vyplývajúce z funkcie prezidenta USA.</td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o poskytovateľovi</td>
        </tr>
        <tr>
          <td class="item">Názov/Meno</td><td>Vláda USA</td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td>verejný</td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td></td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa poskytovateľa</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td>Spojené štáty</td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td>USA</td>
        </tr>
        <tr>
          <td class="item">Okres</td><td>Washington D.C.</td>
        </tr>
        <tr>
          <td class="item">Obec</td><td>Washington D.C.</td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td>Capitol Hill</td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td>Capitol Hill</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Charakter výhody</td>
        </tr>
        <tr>
          <td class="item">Popis výhody</td>
		<td>
			<ul>
				<li>10 ročná ochrana zo strany tajnej služby</li>
				<li>financovanie kancelárie/zamestnancov/cestovného/kancelárskych potrieb (limitované)</li>
				<li>doživotný dôchodok 191 300 dolárov ročne</li>
			</ul>
		</td>
        </tr>
        <tr>
          <td class="item">Vyjadrenie hodnoty výhody</td><td>nie je možné určiť</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td>20. 01. 2009</td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámka</td><td>Oficiálne benefity vyplývajúce z funkcie prezidenta USA.</td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="dary">Sponzorstvo, dary a granty</h2>

    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o poskytovateľovi</td>
        </tr>
        <tr>
          <td class="item">Názov/Meno</td><td>senátor Edward Kennedy</td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td>iný</td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td></td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td></td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Charakter a výška sponzorstva, daru alebo grantu</td>
        </tr>
        <tr>
          <td class="item">Charakter a výška sponzorstva, daru alebo grantu</td><td><a href="http://en.wikipedia.org/wiki/Portuguese_Water_Dog" target="_blank">portugalský vodný pes</a> - počúva na meno Bo</td>
        </tr>
        <tr>
          <td class="item">Účel podpory</td><td>osobný dar</td>
        </tr>
        <tr>
          <td class="item">Dátum</td><td>12. 04. 2009</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Hodnota sponzorstva, daru alebo grantu</td><td>540 - 2 700</td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o poskytovateľovi</td>
        </tr>
        <tr>
          <td class="item">Názov/Meno</td><td>Nobelova nadácia</td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td>neziskový sektor</td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td>nadácia</td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td></td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Charakter a výška sponzorstva, daru alebo grantu</td>
        </tr>
        <tr>
          <td class="item">Charakter a výška sponzorstva, daru alebo grantu</td><td>medaila a diplom + finančný dar 10 miliónov švédskych korún (približne 1,6 milióna dolárov)</td>
        </tr>
        <tr>
          <td class="item">Účel podpory</td><td>Nobelova cena za mier</td>
        </tr>
        <tr>
          <td class="item">Dátum</td><td>10. 12. 2009</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Hodnota sponzorstva, daru alebo grantu</td><td>54 000 a viac</td>
        </tr>
		<tr>
          <td class="item">Poznámky</td><td>Nobelovu cenu za mier udeľuje špeciálna päťčlenná komisia volená nórskym parlamentom.</td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="pracovne_cesty">Pracovné cesty, podujatia, konferencie, kurzy, vzdelávanie</h2>
    <table>
      <tbody>
        <tr>
          <td class="item">
            Nezúčastnil som sa žiadnej udalosti
            </td><td>
              <%= image_tag 'check_12x10.png', alt: 'Check_12x10'%></td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="suhrn_prijmov">Súhrn príjmov za kalendárny rok</h2>

    <table class="box">
      <tbody>
        <tr>
          <td class="item">Rok</td><td>2009</td>
        </tr>
        <tr>
          <td class="item">Celková výška príjmu</td><td>okolo 5 600 000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Výška príjmu len z výkonu verejnej funkcie</td><td>400 000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
		<tr>
          <td class="item">Poznámky</td><td>Celková výška príjmu obsahuje aj príjmy manželky</td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>
	
	<h2 id="nehnutelny_majetok">Nehnuteľný majetok</h2>

    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o nehnuteľnosti</td>
        </tr>
        <tr>
          <td class="item">Popis nehnuteľnosti</td><td>Rodinný dom</td>
        </tr>
        <tr>
          <td class="item">Spôsob nadobudnutia</td><td>Kúpa</td>
        </tr>
        <tr>
          <td class="item">Mám z nehnuteľnosti príjem</td><td>Nie</td>
        </tr>
        <tr>
          <td class="item">Výmera (m2)</td><td>1890</td>
        </tr>
        <tr>
          <td class="item">Číslo parcely</td><td></td>
        </tr>
        <tr>
          <td class="item">Číslo LV</td><td></td>
        </tr>
        <tr>
          <td class="item">Rok nadobudnutia</td><td>2005</td>
        </tr>
        <tr>
          <td class="item">Nadobúdacia hodnota</td><td>1650000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Rok</td><td></td>
        </tr>
        <tr>
          <td class="item">Odhad trhovej hodnoty</td><td></td>
        </tr>
        <tr>
          <td class="item">Mena</td><td></td>
        </tr>
        <tr>
          <td class="item">Typ vlastníctva</td><td>Bezpodielové vlastníctvo manželov</td>
        </tr>
        <tr>
          <td class="item">Podiel</td><td>1/1</td>
        </tr>
        <tr>
          <td class="item">Dátum predaja</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Umiestnenie nehnuteľnosti</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td>Spojené štáty</td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td>Illinois</td>
        </tr>
        <tr>
          <td class="item">Okres</td><td>Chicago</td>
        </tr>
        <tr>
          <td class="item">Obec</td><td>Chicago</td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td>Celková rozloha pozemku je 3200 m<sup>2</sup>.<br />Adresa: 5046 South Greenwood Ave., Chicago</td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="hnutelny_majetok">Hnuteľný majetok</h2>
    <table>
      <tbody>
        <tr>
        </tr>
        <tr>
          <td class="item">
            Nemám jednotlivý hnuteľný majetok nad 10 000 EUR
            </td><td>
              <%= image_tag 'check_12x10.png', alt: 'Check_12x10'%></td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Súhrna hodnota hotovosti, účtov, cenných papierov</td>
        </tr>
        <tr>
          <td class="item">Rok</td><td>2009</td>
        </tr>
        <tr>
          <td class="item">Súhrna hodnota hotovosti, účtov, cenných papierov</td><td>8 152 100</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td>cenné papiere + bežný účet (15 000 dolárov) </td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Auto</td>
        </tr>
        <tr>
          <td class="item">Značka auta</td><td>Chrysler</td>
        </tr>
        <tr>
          <td class="item">Model auta</td><td>300 C</td>
        </tr>
        <tr>
          <td class="item">Rok výroby</td><td></td>
        </tr>
        <tr>
          <td class="item">Spôsob nadobudnutia</td><td>Kúpa</td>
        </tr>
        <tr>
          <td class="item">Mesiac, rok nadobudnutia</td><td></td>
        </tr>
        <tr>
          <td class="item">Mesiac, rok predaja</td><td></td>
        </tr>
        <tr>
          <td class="item">Nadobúdacia hodnota</td><td>20 000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Typ vlastníctva</td><td>Bezpodielové vlastníctvo manželov</td>
        </tr>
        <tr>
          <td class="item">Podiel</td><td>1/1</td>
        </tr>
        <tr>
          <td class="item">Počet najazdených kilometrov k dátumu kúpy</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td>Auto bolo predané ešte predtým, ako som sa stal prezidentom.</td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Auto</td>
        </tr>
        <tr>
          <td class="item">Značka auta</td><td>Ford</td>
        </tr>
        <tr>
          <td class="item">Model auta</td><td>Escape Hybrid</td>
        </tr>
        <tr>
          <td class="item">Rok výroby</td><td></td>
        </tr>
        <tr>
          <td class="item">Spôsob nadobudnutia</td><td>Kúpa</td>
        </tr>
        <tr>
          <td class="item">Mesiac, rok nadobudnutia</td><td></td>
        </tr>
        <tr>
          <td class="item">Mesiac, rok predaja</td><td></td>
        </tr>
        <tr>
          <td class="item">Nadobúdacia hodnota</td><td>15 000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Typ vlastníctva</td><td>Bezpodielové vlastníctvo manželov</td>
        </tr>
        <tr>
          <td class="item">Podiel</td><td>1/1</td>
        </tr>
        <tr>
          <td class="item">Počet najazdených kilometrov k dátumu kúpy</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td>Auto bolo predané ešte predtým, ako som sa stal prezidentom.</td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Súhrn hnuteľného majetku</td>
        </tr>
        <tr>
          <td class="item">Rok</td><td>2010</td>
        </tr>
        <tr>
          <td class="item">Súhrn hnuteľného majetku</td><td>9 000 000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="majetkove_prava">Majetkové práva, záväzky, hodnoty</h2>

    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o majetkovom práve, záväzku, hodnote</td>
        </tr>
        <tr>
          <td class="item">Popis majetkového práva/záväzku</td><td>Majetkové práva</td>
        </tr>
        <tr>
          <td class="item">Spôsob nadobudnutia/vzniku</td><td>Iné</td>
        </tr>
        <tr>
          <td class="item">Poskytovateľ práva/záväzku</td><td>právnická osoba</td>
        </tr>
        <tr>
          <td class="item">Typ vlastníctva</td><td>Bezpodielové spoluvlastníctvo manželov</td>
        </tr>
        <tr>
          <td class="item">Podiel</td><td>1/1</td>
        </tr>
        <tr>
          <td class="item">Mesiac, rok nadobudnutia/vzniku</td><td>1/2009</td>
        </tr>
        <tr>
          <td class="item">Mesiac, rok zániku</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Hodnota majetkového práva, záväzku, hodnoty</td>
        </tr>
        <tr>
          <td class="item">Celková hodnota</td><td>1 000 000 - 5 000 000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Výška práva alebo záväzku</td><td>1 000 000 - 5 000 000</td>
        </tr>
        <tr>
          <td class="item">Mena</td><td>USD</td>
        </tr>
        <tr>
          <td class="item">Obdobie</td><td>tantiémy</td>
        </tr>

        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o poskytovateľovi majetkového záväzku, práva, hodnoty</td>
        </tr>
        <tr>
          <td class="item">Názov/meno</td><td>Crown Publishing Group</td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td>podnikateľský sektor</td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td></td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa osoby alebo inštitúcie</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td></td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td>
			<ul>
				<li>Majetkové právo tvoria tantiémy za knihu <a href="http://en.wikipedia.org/wiki/Dreams_from_my_father" target="_blank">"Dreams from my father"</a>.</li>
				<li>Celý zoznam majetkových práv nájdete na <a href="http://www.whitehouse.gov/sites/default/files/rss_viewer/potus-278-2009.pdf" target="_blank">stránke Bieleho domu</a>.</li>
				</ul>
	</td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="kancelarie">Poslanecká kancelária</h2>
    <table>
      <tbody>
        <tr>
        </tr>
        <tr>
          <td class="item">
            Nie som poslancom NR SR alebo Európskeho parlamentu
            </td><td>
              <%= image_tag 'check_12x10.png', alt: 'Check_12x10'%></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="stretnutia">Dôležité stretnutia</h2>
    <table>
      <tbody>
        <tr>
        </tr>
        <tr>
          <td class="item">
            Neuvádzam
            </td><td>
              <%= image_tag 'check_12x10.png', alt: 'Check_12x10'%></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="osoby">Blízke osoby</h2>

    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Vzťah k osobe</td>
        </tr>
        <tr>
          <td class="item">Vzťah k osobe</td><td>manželka</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o blízkej osobe</td>
        </tr>
        <tr>
          <td class="item">Titul</td><td></td>
        </tr>
        <tr>
          <td class="item">Meno</td><td>Michelle</td>
        </tr>
        <tr>
          <td class="item">Priezvisko</td><td>Obama</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa blízkej osoby</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Vlastníctvo, podieľníctvo, členstvo (alebo zamestnanie) osoby v inštitúciach</td>
        </tr>
        <tr>
          <td class="item">Neuvádzam</td><td>Nie</td>
        </tr>
        <tr>
          <td class="item">Nemá vlastníctvo, podieľníctvo, členstvo (alebo zamestnanie) osoby v inštitúciach</td><td></td>
        </tr>
        <tr>
          <td class="item">Nemám vedomosť o vlastníctve, podieľníctve, členstve (alebo zamestnanie) osoby v inštitúciach</td><td></td>
        </tr>
        <tr>
          <td class="item">Názov/meno</td><td></td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td></td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td></td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa inštitúcie</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td></td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Funkcia alebo postavenie blízkej osoby v inštitúcii</td>
        </tr>
        <tr>
          <td class="item">Funkcia alebo postavenie v inštitúcii</td><td></td>
        </tr>
        <tr>
          <td class="item">Peňažný podiel</td><td></td>
        </tr>
        <tr>
          <td class="item">Mena</td><td></td>
        </tr>
        <tr>
          <td class="item">Percentuálny podiel</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Vzťah k osobe</td>
        </tr>
        <tr>
          <td class="item">Vzťah k osobe</td><td>dcéra</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o blízkej osobe</td>
        </tr>
        <tr>
          <td class="item">Titul</td><td></td>
        </tr>
        <tr>
          <td class="item">Meno</td><td>Malia</td>
        </tr>
        <tr>
          <td class="item">Priezvisko</td><td>Obama</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa blízkej osoby</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Vlastníctvo, podieľníctvo, členstvo (alebo zamestnanie) osoby v inštitúciach</td>
        </tr>
        <tr>
          <td class="item">Neuvádzam</td><td>Nie</td>
        </tr>
        <tr>
          <td class="item">Nemá vlastníctvo, podieľníctvo, členstvo (alebo zamestnanie) osoby v inštitúciach</td><td></td>
        </tr>
        <tr>
          <td class="item">Nemám vedomosť o vlastníctve, podieľníctve, členstve (alebo zamestnanie) osoby v inštitúciach</td><td></td>
        </tr>
        <tr>
          <td class="item">Názov/meno</td><td></td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td></td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td></td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa inštitúcie</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td></td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Funkcia alebo postavenie blízkej osoby v inštitúcii</td>
        </tr>
        <tr>
          <td class="item">Funkcia alebo postavenie v inštitúcii</td><td></td>
        </tr>
        <tr>
          <td class="item">Peňažný podiel</td><td></td>
        </tr>
        <tr>
          <td class="item">Mena</td><td></td>
        </tr>
        <tr>
          <td class="item">Percentuálny podiel</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Vzťah k osobe</td>
        </tr>
        <tr>
          <td class="item">Vzťah k osobe</td><td>dcéra</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o blízkej osobe</td>
        </tr>
        <tr>
          <td class="item">Titul</td><td></td>
        </tr>
        <tr>
          <td class="item">Meno</td><td>Natasha</td>
        </tr>
        <tr>
          <td class="item">Priezvisko</td><td>Obama</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa blízkej osoby</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Vlastníctvo, podieľníctvo, členstvo (alebo zamestnanie) osoby v inštitúciach</td>
        </tr>
        <tr>
          <td class="item">Neuvádzam</td><td>Nie</td>
        </tr>
        <tr>
          <td class="item">Nemá vlastníctvo, podieľníctvo, členstvo (alebo zamestnanie) osoby v inštitúciach</td><td></td>
        </tr>
        <tr>
          <td class="item">Nemám vedomosť o vlastníctve, podieľníctve, členstve (alebo zamestnanie) osoby v inštitúciach</td><td></td>
        </tr>
        <tr>
          <td class="item">Názov/meno</td><td></td>
        </tr>
        <tr>
          <td class="item">Sektor podnikania</td><td></td>
        </tr>
        <tr>
          <td class="item">Podnikateľská forma</td><td></td>
        </tr>
        <tr>
          <td class="item">IČO</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa inštitúcie</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Ulica</td><td></td>
        </tr>
        <tr>
          <td class="item">PSČ</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Funkcia alebo postavenie blízkej osoby v inštitúcii</td>
        </tr>
        <tr>
          <td class="item">Funkcia alebo postavenie v inštitúcii</td><td></td>
        </tr>
        <tr>
          <td class="item">Peňažný podiel</td><td></td>
        </tr>
        <tr>
          <td class="item">Mena</td><td></td>
        </tr>
        <tr>
          <td class="item">Percentuálny podiel</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="spolupracovnici">Blízki spolupracovníci</h2>

    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Forma spolupráce</td>
        </tr>
        <tr>
          <td class="item">Funkcia spolupracovníka</td><td>bývalý poradca a súčasný primátor mesta Chicago</td>
        </tr>
        <tr>
          <td class="item">Forma spolupráce</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Údaje o spolupracovníkovi</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr>
          <td class="item">Titul</td><td></td>
        </tr>
        <tr>
          <td class="item">Meno</td><td>Rahm</td>
        </tr>
        <tr>
          <td class="item">Priezvisko</td><td>Emanuel</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline" class="sub_headline">Adresa blízkeho spolupracovníka</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
    </table>
    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline">Forma spolupráce</td>
        </tr>
        <tr>
          <td class="item">Funkcia spolupracovníka</td><td>ministerka zahraničných vecí USA</td>
        </tr>
        <tr>
          <td class="item">Forma spolupráce</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline">Údaje o spolupracovníkovi</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr>
          <td class="item">Titul</td><td></td>
        </tr>
        <tr>
          <td class="item">Meno</td><td>Hillary</td>
        </tr>
        <tr>
          <td class="item">Priezvisko</td><td>Clinton</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline">Adresa blízkeho spolupracovníka</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
    </table>

    <table class="box">
      <tbody>
        <tr class="section">
          <td colspan="2" class="sub_headline">Forma spolupráce</td>
        </tr>
        <tr>
          <td class="item">Funkcia spolupracovníka</td><td>viceprezident USA</td>
        </tr>
        <tr>
          <td class="item">Forma spolupráce</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie od</td><td></td>
        </tr>
        <tr>
          <td class="item">Časové obdobie do</td><td></td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline">Údaje o spolupracovníkovi</td>
        </tr>
        <tr>
          <td class="item">Nemám súhlas tretej osoby na zverejnenie osobných údajov</td><td>Áno</td>
        </tr>
        <tr>
          <td class="item">Titul</td><td></td>
        </tr>
        <tr>
          <td class="item">Meno</td><td>Joe</td>
        </tr>
        <tr>
          <td class="item">Priezvisko</td><td>Biden</td>
        </tr>
        <tr class="section">
          <td colspan="2" class="sub_headline">Adresa blízkeho spolupracovníka</td>
        </tr>
        <tr>
          <td class="item">Štát</td><td></td>
        </tr>
        <tr>
          <td class="item">Kraj</td><td></td>
        </tr>
        <tr>
          <td class="item">Okres</td><td></td>
        </tr>
        <tr>
          <td class="item">Obec</td><td></td>
        </tr>
        <tr>
          <td class="item">Poznámky</td><td></td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

	<h2 id="rozne">Rôzne</h2>

    <table class="box">
      <tbody>
        <tr>
          <td class="item">Obsah</td>
		<td>
			<ul>
			<li><a href="http://www.whitehouse.gov/sites/default/files/rss_viewer/potus-278-2009.pdf" target="_blank">Majetkové priznanie za rok 2009</a></li>
			<li><a href="http://www.whitehouse.gov/sites/default/files/rss_viewer/POTUS_OGE278_CY2010.pdf" target="_blank">Majetkové priznanie za rok 2010</a></li>
			<li><a href="http://www.whitehouse.gov/sites/default/files/president-obama-2010-complete-return.pdf" target="_blank">Daňové priznanie za rok 2009</a></li>
			<li><a href="http://www.whitehouse.gov/sites/default/files/rss_viewer/POTUS_taxes.pdf" target="_blank">Daňové priznanie za rok 2010</a></li>
				<li>Údaje v tomto formulári vychádzajú z priznania za rok 2009</li>
			</ul>
		</td>
        </tr>
      </tbody>
    </table>
	<div class="top_button_container"><a href="#top" class="top_button">Hore</a></div>

</div>