<div id="poslanci_nrsr_container">
	<h2>Otvorení poslanci NR SR</h2>
	<div class="info_column">
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					KDH
				</div>
			</div>
			<div class="name_area">
				<ol>
					<li><%= link_to 'Lipšic Daniel', frontend_user_path('728')%></li>
					<li><%= link_to 'Žitňanská Jana', frontend_user_path('293')%></li>
				</ol>
			</div>
		</div>
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					MOST-HÍD
				</div>
			</div>
			<div class="name_area">
				<ol>
          <li><%= link_to 'Bugár Béla', frontend_user_path('781')%></li>
				</ol>
			</div>
		</div>
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					SDKÚ-DS
				</div>
			</div>
			<div class="name_area">
				<ol>
				  <li><%= link_to 'Beblavy Miroslav', frontend_user_path('281')%></li>
				  <li><%= link_to 'Mikuš Jozef', frontend_user_path('64')%></li>
				  <li><%= link_to 'Štefanec Ivan', frontend_user_path('288')%></li>
				  <li><%= link_to 'Vášáryová Magdaléna', frontend_user_path('547')%></li>
				  <li><%= link_to 'Žitňanská Lucia', frontend_user_path('284')%></li>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="info_column">
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					SaS
				</div>
			</div>
			<div class="name_area">
				<ol>
				  <li><%= link_to 'Droba Juraj', frontend_user_path('761')%></li>
				  <li><%= link_to 'Galko Ľubomír', frontend_user_path('717')%></li>
				  <li><%= link_to 'Hladký Pavol', frontend_user_path('85')%></li>
				  <li><%= link_to 'Chren Martin', frontend_user_path('740')%></li>
				  <li><%= link_to 'Kollár Jozef', frontend_user_path('770')%></li>
				  <li><%= link_to 'Krajcer Daniel', frontend_user_path('748')%></li>
				  <li><%= link_to 'Mihál Jozef', frontend_user_path('719')%></li>
				  <li><%= link_to 'Miškov Juraj', frontend_user_path('292')%></li>
				  <li><%= link_to 'Nicholsonová Lucia', frontend_user_path('707')%></li>
				  <li><%= link_to 'Poliačik Martin', frontend_user_path('697')%></li>
				  <li><%= link_to 'Osuský Peter', frontend_user_path('680')%></li>
				  <li><%= link_to 'Sulík Richard', frontend_user_path('255')%></li>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="info_column">
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					Obyčajní ľudia <br>a nezávislé osobnosti
				</div>
			</div>
			<div class="name_area">
				<ol>
				  <li><%= link_to 'Fecko Martin', frontend_user_path('767')%></li>
				  <li><%= link_to 'Jurinová Erika', frontend_user_path('768')%></li>
				  <li><%= link_to 'Matovič Igor', frontend_user_path('769')%></li>
				  <li><%= link_to 'Viskupič Jozef', frontend_user_path('766')%></li>
				</ol>
			</div>
		</div>
	</div>

</div>