<div id="poslanci_nrsr_container">
	<h2>Otvorení poslanci NR SR</h2>
	<div class="info_column">
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					KDH
				</div>
			</div>
			<div class="name_area">
				<ol>
					<li><%= link_to 'Žitňanská Jana', frontend_user_path('4c04ba337751366ff500000e')%></li>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="info_column">
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					MOST-HÍD
				</div>
			</div>
			<div class="name_area">
				<ol>
          <li><%= link_to 'Dostál Ondrej', frontend_user_path('4bf52339775136276600000a')%></li>
				  <li><%= link_to 'Nagy A. László', frontend_user_path('4c0769147751361311000001')%></li>
				  <li><%= link_to 'Švejna Ivan', frontend_user_path('4c08c9d877513620d3000005')%></li>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="info_column">
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					SaS
				</div>
			</div>
			<div class="name_area">
				<ol>
				  <li><%= link_to 'Aštaryová Zuzana', frontend_user_path('4bf5233b775136276600005f')%></li>
				  <li><%= link_to 'Blahová Natália', frontend_user_path('4bf1a24577513609fa000003')%></li>
				  <li><%= link_to 'Droba Juraj', frontend_user_path('4bf1d6d07751360ab7000001')%></li>
				  <li><%= link_to 'Fecko Martin', frontend_user_path('4bf8aa2c7751360c48000002')%></li>
				  <li><%= link_to 'Fořt Stanislav', frontend_user_path('4bf5233a775136276600003d')%></li>
				  <li><%= link_to 'Galko Ľubomír', frontend_user_path('4bf5233a775136276600003f')%></li>
				  <li><%= link_to 'Hladký Pavol', frontend_user_path('4bf5233b775136276600005a')%></li>
				  <li><%= link_to 'Chren Martin', frontend_user_path('4bf5233a775136276600003b')%></li>
				  <li><%= link_to 'Jurčík Ľudovít', frontend_user_path('4bf5233a7751362766000040')%></li>
				  <li><%= link_to 'Jurinová Erika', frontend_user_path('4bf983bb7751361067000001')%></li>
				  <li><%= link_to 'Kalist Peter', frontend_user_path('4bfaae767751361b4b000003')%></li>
				  <li><%= link_to 'Kiššová Jana', frontend_user_path('4bf3c8f777513613c9000002')%></li>
				  <li><%= link_to 'Kollár Jozef', frontend_user_path('4bfcfc4f7751362c66000008')%></li>
				  <li><%= link_to 'Krnáč Kamil', frontend_user_path('4bf5233a7751362766000033')%></li>
				  <li><%= link_to 'Laurenčík Milan', frontend_user_path('4bf5233b775136276600006d')%></li>
				  <li><%= link_to 'Matovič Igor', frontend_user_path('4bfab81b7751361b62000001')%></li>
				  <li><%= link_to 'Poliačik Martin', frontend_user_path('4bf6fa4d7751363345000002')%></li>
				  <li><%= link_to 'Somogyi Szilárd', frontend_user_path('4c07edf7775136197a00000d')%></li>
				  <li><%= link_to 'Sulík Richard', frontend_user_path('4bf523407751362766000126')%></li>
				  <li><%= link_to 'Švihura Richard', frontend_user_path('4bf5233b7751362766000057')%></li>
				  <li><%= link_to 'Tomčo Štefan', frontend_user_path('4bf5233a7751362766000045')%></li>
				  <li><%= link_to 'Viskupič Jozef', frontend_user_path('4bf827717751360a1b000003')%></li>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="info_column_last">
		<div id="poslanci_nrsr_name_container">
			<div class="title_container">
				<div class="title">
					SDKÚ-DS
				</div>
			</div>
			<div class="name_area">
				<ol>
				  <li><%= link_to 'Beblavy Miroslav', frontend_user_path('4bfcd6e6775136294f000007')%></li>
				  <li><%= link_to 'Dubovcová Jana', frontend_user_path('4c07617e775136126200000c')%></li>
				  <li><%= link_to 'Harman Ivan', frontend_user_path('4c93cac37751362b24000001')%></li>
				  <li><%= link_to 'Mikuš Jozef', frontend_user_path('4bf5233a7751362766000034')%></li>
				  <li><%= link_to 'Štefanec Ivan', frontend_user_path('4bfe6d6977513633b5000001')%></li>
				  <li><%= link_to 'Vášáryová Magdaléna', frontend_user_path('4cee38087751367088000003')%></li>
				</ol>
			</div>
		</div>
	</div>
</div>