<h1>Poučenie dotknutej osoby o svojich právach</h1>
<h3>(osoby, ktorá dáva dobrovoľne súhlas k spracovaniu svojich osobných údajov)</h3>

<p>Dotknutá osoba má podľa ustanovenia § 20 ods. 1 zákona o ochrane osobných údajov právo na základe písomnej žiadosti od prevádzkovateľa vyžadovať: </p>

<p>(i) informácie o stave spracúvania svojich osobných údajov v informačnom systéme, </p>
<p>ii) presné informácie o zdroji, z ktorého získal osobné údaje na spracúvanie, </p>
<p>(iii) odpis svojich osobných údajov, ktoré spracúva v informačnom systéme, </p>
<p>(iv) opravu svojich nesprávnych, neúplných alebo neaktuálnych osobných údajov, ktoré sú predmetom spracúvania, </p>
(v) likvidáciu svojich osobných údajov, ak bol splnený účel spracúvania.
Podľa § 20 ods. 4 zákona o ochrane osobných údajov má dotknutá osoba právo namietať a nepodrobiť sa rozhodnutiu prevádzkovateľa, ktoré by malo pre ňu právne účinky alebo významný dosah, ak sa takéto rozhodnutie vydá výlučne na základe úkonov automatizovaného spracúvania jej osobných údajov. Toto právo možno obmedziť iba v prípade, ak to ustanovuje osobitný zákon, v ktorom sú opatrenia na zabezpečenie oprávnených záujmov dotknutej osoby alebo obmedzenie práva vyplýva zo zmluvy uzatvorenej medzi prevádzkovateľom a dotknutou osobou.
Podľa § 20 ods. 5 zákona o ochrane osobných údajov, dotknutá osoba má právo nesúhlasiť s oznámením podľa § 23 ods. 5 a písomne odmietnuť prenos svojich osobných údajov do tretej krajiny, ktorá nezaručuje primeranú úroveň ochrany a ak prenos možno vykonať len so súhlasom dotknutej osoby.
Podľa § 20 ods. 6 zákona o ochrane osobných údajov, dotknutá osoba pri podozrení, že jej osobné údaje sa neoprávnene spracúvajú, môže podať o tom oznámenie Úradu na ochranu osobných údajov Slovenskej republiky.
Podľa § 20 ods. 7 zákona o ochrane osobných údajov, ak dotknutá osoba nemá spôsobilosť na právne úkony v plnom rozsahu, jej práva môže uplatniť zákonný zástupca.
Podľa § 20 ods. 8 zákona o ochrane osobných údajov, ak dotknutá osoba nežije, jej práva, ktoré mala podľa tohto zákona, môže uplatniť blízka osoba.

<p>Celé znenie § 20 zákona o ochrane osobných údajov je možné nájsť <a href="/frontend/pages/zakon_o_ochrane_osobnych_udajov">tu</a>.</p>
