<h1>Poučenie dotknutej osoby o svojich právach</h1>
<h3>(osoby, ktorá dáva dobrovoľne súhlas k spracovaniu svojich osobných údajov)</h3>

<p>Dotknutá osoba má podľa ustanovenia § 28 ods. 1 zákona č.122/2013 Z. z. o ochrane osobných údajov právo na základe písomnej žiadosti od prevádzkovateľa vyžadovať:</p>

a) potvrdenie, či sú alebo nie sú osobné údaje o nej spracúvané,<br>
b) vo všeobecne zrozumiteľnej forme informácie o spracúvaní osobných údajov v informačnom systéme v rozsahu podľa § 15 ods. 1 písm. a) až e) druhý až šiesty bod; pri vydaní rozhodnutia podľa odseku 5 je dotknutá osoba oprávnená oboznámiť sa s postupom spracúvania a vyhodnocovania operácií,<br>
c) vo všeobecne zrozumiteľnej forme presné informácie o zdroji, z ktorého získal jej osobné údaje na spracúvanie,<br>
d) vo všeobecne zrozumiteľnej forme zoznam jej osobných údajov, ktoré sú predmetom spracúvania,<br>
e) opravu alebo likvidáciu svojich nesprávnych, neúplných alebo neaktuálnych osobných údajov, ktoré sú predmetom spracúvania,<br>
f) likvidáciu jej osobných údajov, ktorých účel spracúvania sa skončil; ak sú predmetom spracúvania úradné doklady obsahujúce osobné údaje, môže požiadať o ich vrátenie,<br>
g) likvidáciu jej osobných údajov, ktoré sú predmetom spracúvania, ak došlo k porušeniu zákona,<br>
h) blokovanie jej osobných údajov z dôvodu odvolania súhlasu pred uplynutím času jeho platnosti, ak prevádzkovateľ spracúva osobné údaje na základe súhlasu dotknutej osoby.Celé znenie § 28 zákona o ochrane osobných údajov je možné nájsť <a href="http://www.dataprotection.gov.sk/buxus/docs/122_2013.pdf" target="_blank">tu</a>.
