<h1>Zoznam účastníkov, ktorí vystúpili z projektu politikaopen</h1>

<p>Ide o účastníkov, ktorí požiadali o vystúpenie z projektu. Ich vyplnené formuláre sa naďalej zobrazujú na stránke politikaopen.sk – údaje v nich sú však už neaktuálne. Účastník ich naposledy vypĺňal najneskôr v období vystúpenia z projektu.</p>


<iframe width='500' height='500' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AjD35X0HsMNwdHVZY1JDSUtFNGZPb3lDcEQ0eVVVMUE&single=true&gid=0&range=A1%3AA25&output=html&widget=false'></iframe>