%meta{:name => "description", :content => "Politikaopen je priestorom, ktorý pred verejnosťou odkrýva dôležité aspekty života a činnosti politika. Zámerom je odhaliť všetko podstatné o jeho majetku, záväzkoch a väzbách do takej hĺbky, aby ste ako občania mohli na základe presných a pravdivých informácií politika účinne kontrolovať."}
%meta{:name => "keywords", :content => "politikaopen, politika, slovensko"}
%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext", :rel => "stylesheet", :type => "text/css"}
%link{:href => "/assets/frontend/logo.png", :rel => "image_src"}
- if @user.present?
  %meta{property: 'og:title', content: "#{@user.full_name} na Politika Open"}
%title
  politikaopen
